@media only screen and (min-width: 1024px) {
/* styling here overrides existing styling for breakpoint */
  /* nav element section */
  nav {
    position: static;
    margin-top: 0;
    justify-content: space-between;
    width: 100vw;
    background-color: #4056A1;
  }

  /* header & main container elements */
  .wrapper {
    display: flex;
    flex-direction: row;
  } 

  /* everything inside header here */
  .profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 0;
    margin: 200px 50px;
    height: 250px;
    width: 25%;
    position: static;
  }

  .profile-name {
    width: 100%;
    text-align: center;
  }

  .profile-header h2 {
    font-size: 1em;
  }

  #header-img {
    margin-top: 2rem;
    height: 7rem;
    width: 7rem;
  }

  /* everything inside the main container */
  .container {
    order: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }

  #tweet-container {
    box-sizing: content-box;
    width: 85%;
    margin-top: 0;
  }

  .tweet-container {
    width: 100%;
    box-sizing: content-box;
  }

  #tweet-text {
    width: 100%;
  }
 
  /* new tweet form section */
  .new-tweet {
    width: 85%;
  }  
} 